.owl-carousel.owl-theme .owl-buttons .owl-next {
    font-size: 35px;
    font-weight: 100;
    border: 0px;
    border-radius: 0px;
    position: absolute;
    right: -20px;
    top: 59px;
    background: #010101de;
}

.owl-carousel.owl-theme .owl-buttons .owl-prev {
    font-size: 35px;
    font-weight: 100;
    border: 0px;
    border-radius: 0px;
    position: absolute;
    left: -20px;
    top: 59px;
    background: #010101de;
}


.owl-carousel.owl-theme .colheight-sm-1, .colheight-sm-2 .colheight-sm-3 {
    height: 210px;
    transition: all 0.2s linear 0s;
}