
.inline-block {
    display: inline-block;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.clearfix {
}

.clearfix::before, .clearfix::after {
    content: "";
    display: table;
    line-height: 0;
}

.clearfix::after {
    clear: both;
}

html, body {
    height: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
}

.aligncenter {
    text-align: center;
}

.alignleft {
    text-align: left;
}

.alignright {
    text-align: right;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
}

img {
}

js img[data-src] {
    opacity: 0;
    transition: opacity 0.3s ease-in 0s;
}

.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    min-height: 0px;
    position: relative;
}

.sm-pull-right, .md-pull-right, .lg-pull-right, .xl-pull-right {
    float: none;
}

.colheight-sm-1, .colheight-sm-2 .colheight-sm-3 {
    height: 155px;
    transition: all 0.2s linear 0s;
}

.col-no-padding[class*="col-"], .col-no-padding[class^="*col-"] {
    padding-left: 0;
    padding-right: 0;
}

.header-navbar {
    background-clip: padding-box;
    border: medium none;
    border-radius: 0;
    font-family: "Montserrat", sans-serif;
    height: 40px;
    line-height: 40px;
    min-height: inherit;
    transition: all 0.2s linear 0s;
    z-index: 1000;
}

.header-navbar .header-navbar-inner {
    padding: 0 5px;
    position: relative;
}

.header-navbar .header-navbar-inner.search-toggled-in .nav.navbar-nav {
    display: none;
}

.header-navbar .header-navbar-inner.search-toggled-in .nav-icons .search-toggled-out-icon {
    display: none;
}

.header-navbar .header-navbar-inner.search-toggled-in .nav-icons .search-toggled-in-icon {
    display: inline-block;
}

.header-navbar .header-navbar-inner.search-toggled-in .search-wrapper {
    display: block;
}

.header-navbar .search-wrapper {
    height: 44px;
    line-height: 22px;
    overflow: hidden;
    position: relative;
}

.header-navbar .search-wrapper .search-wrapper-inner {
    margin: 0 54px 0 10px;
    position: relative;
}

.header-navbar .search-wrapper .search-wrapper-inner form {
    margin: 0;
    padding: 0;
}

.header-navbar .search-wrapper .search-wrapper-inner input[type="text"] {
    border: 1px solid #c2c2c2;
    border-radius: 2px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 200;
    height: 30px;
    margin: 5px 0 0 5px;
    max-width: 100%;
    padding-left: 6px;
    width: 100%;
}

.header-navbar .search-wrapper .search-wrapper-inner input[type="text"]:focus {
    outline: medium none;
}

.header-navbar .search-wrapper .search-wrapper-inner button {
    position: absolute;
    right: -45px;
    top: 0;
    z-index: 2;
}

.header-navbar .btn-icon {
    border: medium none;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    height: 30px;
    line-height: 30px;
    margin: 5px 0 0;
    padding: 0;
    width: 44px;
}

.header-navbar .navbar-brand {
    border-right: 1px solid transparent;
    height: 44px;
    margin: 0 5px 0 0;
    padding: 0;
    transition: all 0.2s linear 0s;
    width: 244px;
}

.header-navbar .navbar-brand a {
    display: block;
    height: 56px;
    left: -15px;
    position: relative;
    top: -30px;
    transition: all 0.2s linear 0s;
    width: 244px;
}

.header-navbar .navbar-brand a::after {
    border-bottom: 18px solid transparent;
    border-right: 15px solid #333333;
    border-top: 0 solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: 56px;
    transition: all 0.2s linear 0s;
    width: 0;
}

.header-navbar .navbar-brand a img {
    height: auto;
    position: relative;
    vertical-align: top;
}

body.scrolled .header-navbar {
    box-shadow: 0 1px 6px rgba(229, 229, 229, 0.86);
    left: 0;
    margin-top: 0;
    top: 0;
}

.header-navbar .nav-pages {
    line-height: 30px;
    position: absolute;
    right: 0;
    top: -30px;
}

.header-navbar .nav-pages > li {
    float: left;
    font-size: 12px;
}

.header-navbar .nav-pages > li > a {
    font-family: "Montserrat", sans-serif;
    padding: 0 6px;
}

.header-navbar .nav-pages > li > a, .header-navbar .nav-pages > li.active > a {
    background-color: transparent;
}

.header-navbar .nav-icons {
    float: right;
    height: 44px;
    margin-right: 0;
    position: relative;
    width: 44px;
}

.header-navbar .nav-icons > li {
    height: 44px;
    width: 44px;
}

.header-navbar .nav-icons > li > a {
    line-height: 44px;
    padding: 0;
    text-align: center;
    width: 44px;
}

.header-navbar .nav-icons .search-toggled-out-icon {
    display: inline-block;
}

.header-navbar .nav-icons .search-toggled-in-icon {
    display: none;
}

.nav.navbar-nav {
}

.nav.navbar-nav > li {
}

.nav.navbar-nav > li.nav-all {
}

.nav.navbar-nav > li.nav-all .text {
    display: none;
}

.nav.navbar-nav > li.nav-all > a {
    line-height: 38px;
    padding: 0 15px;
}

.nav.navbar-nav > li > a {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    line-height: 39px;
    padding: 0 15px;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
}

.nav.navbar-nav > li > a:hover {
    background-color: transparent;
}

.nav.navbar-nav li .subnav-wrapper {
    border-top: 4px solid transparent;
    display: none;
    font-family: "Montserrat", sans-serif;
    line-height: 18px;
    padding: 0;
    position: absolute;
    top: 100%;
    z-index: 10;
}

.nav.navbar-nav li .subnav-wrapper .subnav-wrapper {
    left: 100%;
    position: absolute;
    top: -4px;
}

.nav.navbar-nav li.full-subnav-wrapper {
    position: static;
}

.nav.navbar-nav li.full-subnav-wrapper .subnav-wrapper {
    border-top: medium none;
    box-shadow: none;
    left: 0;
    margin-left: 15px;
    margin-right: 0;
    padding: 0;
    top: -2px;
    width: 100%;
}

.nav.navbar-nav li.full-subnav-wrapper .subnav-wrapper .subnav, .nav.navbar-nav li.full-subnav-wrapper .subnav-wrapper .subnav-entries {
    min-width: inherit;
    width: 100%;
}

.nav.navbar-nav li ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav.navbar-nav li ul li a {
    color: #fff;
    display: block;
}

.nav.navbar-nav li ul li a:hover {
    text-decoration: none;
}

.nav.navbar-nav li.toggled-in > .subnav-wrapper, .no-touch .nav.navbar-nav li:hover > .subnav-wrapper {
    display: block;
}

.nav.navbar-nav li .subnav {
    min-width: 150px;
}

.nav.navbar-nav li .subnav li {
    position: relative;
}

.nav.navbar-nav li .subnav li a {
    padding: 10px;
}

.nav.navbar-nav li .subnav-entries {
    width: 230px;
}

.nav.navbar-nav li .subnav-entries li {
    font-size: 12px;
    padding: 0;
}

.nav.navbar-nav li .subnav-entries li a {
    display: block;
    padding: 8px 10px;
}

.nav.navbar-nav li .subnav-full {
    margin-bottom: 20px;
}

.nav.navbar-nav li .subnav-full a {
    margin-left: -8px;
    padding: 8px;
}

.nav.navbar-nav li .subnav-tabbed .subnav-tabbed-tabs {
    height: 100%;
    padding-top: 20px;
}

.nav.navbar-nav li .subnav-tabbed .subnav-tabbed-tabs a {
    padding: 8px 10px 4px 15px;
}

.nav.navbar-nav li .subnav-tabbed .subnav-tabbed-panels {
    padding-top: 20px;
}

.nav.navbar-nav li .subnav-tabbed .subnav-tabbed-panels .subnav-tabbed-panel {
    display: none;
}

.nav.navbar-nav li .subnav-tabbed .subnav-tabbed-panels .subnav-tabbed-panel.active {
    display: block;
}

.subnav-header {
    display: block;
    padding-bottom: 8px;
    padding-top: 8px;
}

#main {
    min-height: 600px;
    /*padding-top: 165px;*/
    padding-top: 250px;
    position: relative;
    /* background: transparent; */
    /* box-shadow: 1px 2px 5px #444; */
    width: 1170px;
    margin: 0 auto;
}

#main.container.admin {
    background: #eee none repeat scroll 0 0;
    padding-top: 0;
}

.page-header {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #ccc;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    margin-bottom: 20px;
    margin-top: 15px;
}

.page-header .page-meta.pull-right {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

.page-header[class*="col-"] .page-title, .page-header[class^="col-"] .page-title {
    left: -15px;
    margin-top: 0;
    position: relative;
}

.page-title, .page-title.full-page-title {
    font-size: 36px;
    font-weight: 300;
    line-height: 43px;
    margin-bottom: 5px;
    overflow: hidden;
}

.section {
    /*margin-bottom: 20px;*/
    position: relative;
}

.section::before, .section::after {
    content: "";
    display: table;
    line-height: 0;
}

.section::after {
    clear: both;
}

.section .section-title {
    font-size: 18px;
    font-weight: 300;
    line-height: 38px;
    top: 0;
}

.section.section-no-margin-bottom {
    margin-bottom: 0;
}

.container > .section:not(.row), .container > .section.not-row {
}

.container > .section.carousel {
    padding-left: 0;
    padding-right: 0;
}

.widget {
    margin-bottom: 20px;
    position: relative;
}

.bottombar .widget {
    padding-top: 0;
}

.widget .widget-title.ribbon {
    font-size: 14px;
    font-weight: 300;
    line-height: 38px;
}

.widget .widget-title:not(.ribbon) {
    margin-bottom: 15px;
}

.bottombar .widget .widget-title {
    font-size: 18px;
    line-height: 38px;
}

.widget .more-wrapper {
    margin-bottom: 0;
}

.widget > ul:not(.entries) {
    list-style-type: none;
    margin: 0;
    padding: 20px 0 0;
}

.widget > ul:not(.entries) li {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 5px;
}

.js .collapsible-widgets .widget > * {
    display: none;
}

.js .collapsible-widgets .widget > .widget-title {
    cursor: pointer;
    display: block;
    opacity: 0.9;
}

.js .collapsible-widgets .widget > .widget-title:hover {
    opacity: 1;
}

.js .collapsible-widgets .widget.active > * {
    display: block;
}

.js .collapsible-widgets .widget.active > .widget-title {
    opacity: 1;
}

.footer-area {
    font-size: 13px;
    padding-top: 30px;
}

.footer-area a:hover {
    text-decoration: none;
}

.footer-area .widget .widget-title {
    border-bottom: 1px solid #ccc;
    font-size: 13px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.footer-area .footer-top {
    margin-bottom: 20px;
}

.footer-section {
    /* border-top: 1px solid rgba(158, 158, 158, 0.3); */
    padding-top: 25px;
}

.footer-area .footer-bottom {
    border-top: 1px solid transparent;
    font-size: 12px;
    line-height: 18px;
    padding-top: 10px;
}

.footer-area .footer-bottom p {
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .sm-pull-right {
        float: right;
    }

    .page-header {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .page-title, .page-title.full-page-title {
        font-size: 41px;
        line-height: 48px;
    }

    .colheight-sm-3 {
        height: 195px;
    }
}

@media (max-width: 768px) {
    .colheight-sm-3 {
        height: 195px;
    }

    .header-navbar, body.scrolled .header-navbar {
    }

    .header-navbar {
        margin-top: 0;
    }

    .header-navbar .navbar-brand {
        width: 192px;
    }

    .header-navbar .navbar-brand a {
        height: 40px;
        left: -5px;
        top: 0;
        width: 192px;
    }

    .header-navbar .navbar-brand a::after {
        border-right-width: 10px;
        display: none;
        top: 40px;
    }

    .header-navbar .nav.navbar-nav {
        margin: 0;
    }

    .header-navbar .nav.navbar-nav > li {
        display: none;
    }

    .header-navbar .nav.navbar-nav > li:first-child {
    }

    .header-navbar .nav.navbar-nav > li.nav-all {
        display: block;
    }

    .header-navbar .nav.navbar-nav.config-panel > li {
        display: block;
        float: left;
    }

    .header-navbar .header-navbar-inner::after {
        display: none;
    }

    #main {
        padding-top: 40px;
    }
}

@media (min-width: 769px) {
    .nav.navbar-nav > li {
        display: none;
    }

    .nav.navbar-nav > li:nth-child(1), .nav.navbar-nav > li:nth-child(2), .nav.navbar-nav > li:nth-child(3) {
        display: block;
    }

    .lt-ie9 .nav.navbar-nav > li:first-child, .lt-ie9 .nav.nav.navbar-nav > li:first-child + li, .lt-ie9 .nav.navbar-nav > li:first-child + li + li {
        display: block;
    }
}

@media (max-width: 790px) {
    .header-navbar .nav-icons, .header-navbar .nav.navbar-nav > li.nav-all {
    }

    .header-navbar::after {
        display: none;
    }
}

@media (min-width: 899px) {
    .nav.navbar-nav > li:nth-child(4) {
        display: block;
    }

    .lt-ie9 .nav.navbar-nav > li:first-child + li + li + li {
        display: block;
    }
}

@media (max-width: 992px) {
    .page-header[class*="col-"] .page-title, .page-header[class^="col-"] .page-title {
        left: auto;
    }
}

@media (min-width: 992px) {
    .colheight-sm-1 {
        height: 175px;
    }

    .colheight-sm-2 {
        height: 350px;
    }

    .colheight-sm-3 {
        height: 525px;
    }

    .colheight-md-1 {
        height: 175px;
    }

    .colheight-md-2 {
        height: 350px;
    }

    .colheight-md-3 {
        height: 525px;
    }

    .md-pull-right {
        float: right;
    }

    .nav.navbar-nav > li.nav-all .text {
        display: block;
    }

    .nav.navbar-nav > li.nav-all .toggle {
        display: none;
    }

    .nav.navbar-nav > li:nth-child(5) {
        display: block;
    }

    .lt-ie9 .nav.navbar-nav > li:first-child + li + li + li + li {
        display: block;
    }

    .page-header {
        margin-bottom: 20px;
        margin-top: 15px;
    }
}

@media (min-width: 1150px) {
    .nav.navbar-nav > li:nth-child(6) {
        display: block;
    }

    .lt-ie9 .nav.navbar-nav > li:first-child + li + li + li + li + li {
        display: block;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }

    .container.admin {
        max-width: 100%;
    }

    .colheight-sm-3, .colheight-md-3 {
        height: 600px;
    }

    .colheight-sm-1, .colheight-md-1 {
        height: 200px;
    }

    .colheight-sm-2, .colheight-md-2 {
        height: 400px;
    }

    .colheight-lg-1 {
        height: 200px;
    }

    .colheight-lg-2 {
        height: 400px;
    }

    .colheight-lg-3 {
        height: 600px;
    }

    .lg-pull-right {
        float: right;
    }

    .content .md-pull-right .entry-thumbnail {
        margin-left: -16px;
    }

    .page-title {
        font-size: 46px;
        line-height: 53px;
        padding-bottom: 10px;
    }

    .page-title.full-page-title {
        font-size: 50px;
        line-height: 57px;
    }
}

@media (min-width: 1300px) {
    .container {
        max-width: 1170px;
    }

    .container.admin {
        max-width: 100%;
    }
}

@media (min-width: 1540px) {
    .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11 {
        float: left;
    }

    .col-xl-1 {
        width: 8.33333%;
    }

    .col-xl-2 {
        width: 16.6667%;
    }

    .col-xl-3 {
        width: 25%;
    }

    .col-xl-4 {
        width: 33.3333%;
    }

    .col-xl-5 {
        width: 41.6667%;
    }

    .col-xl-6 {
        width: 50%;
    }

    .col-xl-7 {
        width: 58.3333%;
    }

    .col-xl-8 {
        width: 66.6667%;
    }

    .col-xl-9 {
        width: 75%;
    }

    .col-xl-10 {
        width: 83.3333%;
    }

    .col-xl-11 {
        width: 91.6667%;
    }

    .col-xl-12 {
        width: 100%;
    }

    .col-xl-push-0 {
        left: auto;
    }

    .col-xl-push-1 {
        left: 8.33333%;
    }

    .col-xl-push-2 {
        left: 16.6667%;
    }

    .col-xl-push-3 {
        left: 25%;
    }

    .col-xl-push-4 {
        left: 33.3333%;
    }

    .col-xl-push-5 {
        left: 41.6667%;
    }

    .col-xl-push-6 {
        left: 50%;
    }

    .col-xl-push-7 {
        left: 58.3333%;
    }

    .col-xl-push-8 {
        left: 66.6667%;
    }

    .col-xl-push-9 {
        left: 75%;
    }

    .col-xl-push-10 {
        left: 83.3333%;
    }

    .col-xl-push-11 {
        left: 91.6667%;
    }

    .col-xl-pull-0 {
        right: auto;
    }

    .col-xl-pull-1 {
        right: 8.33333%;
    }

    .col-xl-pull-2 {
        right: 16.6667%;
    }

    .col-xl-pull-3 {
        right: 25%;
    }

    .col-xl-pull-4 {
        right: 33.3333%;
    }

    .col-xl-pull-5 {
        right: 41.6667%;
    }

    .col-xl-pull-6 {
        right: 50%;
    }

    .col-xl-pull-7 {
        right: 58.3333%;
    }

    .col-xl-pull-8 {
        right: 66.6667%;
    }

    .col-xl-pull-9 {
        right: 75%;
    }

    .col-xl-pull-10 {
        right: 83.3333%;
    }

    .col-xl-pull-11 {
        right: 91.6667%;
    }

    .col-xl-offset-0 {
        margin-left: 0;
    }

    .col-xl-offset-1 {
        margin-left: 8.33333%;
    }

    .col-xl-offset-2 {
        margin-left: 16.6667%;
    }

    .col-xl-offset-3 {
        margin-left: 25%;
    }

    .col-xl-offset-4 {
        margin-left: 33.3333%;
    }

    .col-xl-offset-5 {
        margin-left: 41.6667%;
    }

    .col-xl-offset-6 {
        margin-left: 50%;
    }

    .col-xl-offset-7 {
        margin-left: 58.3333%;
    }

    .col-xl-offset-8 {
        margin-left: 66.6667%;
    }

    .col-xl-offset-9 {
        margin-left: 75%;
    }

    .col-xl-offset-10 {
        margin-left: 83.3333%;
    }

    .col-xl-offset-11 {
        margin-left: 91.6667%;
    }

    .colheight-sm-3, .colheight-md-3, .colheight-lg-3 {
        height: 660px;
    }

    .colheight-sm-1, .colheight-md-1, .colheight-lg-1 {
        height: 220px;
    }

    .colheight-sm-2, .colheight-md-2, .colheight-lg-2 {
        height: 440px;
    }

    .colheight-xl-1 {
        height: 220px;
    }

    .colheight-xl-2 {
        height: 440px;
    }

    .colheight-xl-3 {
        height: 660px;
    }

    .xl-pull-right {
        float: right;
    }
}

@media (min-width: 1250px) {
    .nav.navbar-nav > li:nth-child(7) {
        display: block;
    }

    .lt-ie9 .nav.navbar-nav > li:first-child + li + li + li + li + li + li {
        display: block;
    }
}

@media (min-width: 1490px) {
    .nav.navbar-nav > li:nth-child(8) {
        display: block;
    }

    .lt-ie9 .nav.navbar-nav > li:first-child + li + li + li + li + li + li + li {
        display: block;
    }
}

@media (min-width: 1610px) {
    .nav.navbar-nav > li:nth-child(9) {
        display: block;
    }

    .lt-ie9 .nav.navbar-nav > li:first-child + li + li + li + li + li + li + li + li {
        display: block;
    }
}

@media (min-width: 1730px) {
    .nav.navbar-nav > li:nth-child(10) {
        display: block;
    }

    .lt-ie9 .nav.navbar-nav > li:first-child + li + li + li + li + li + li + li + li + li {
        display: block;
    }
}

.pagination {
    border-radius: 4px;
    clear: both;
    display: block;
    margin: 20px 0;
    padding-left: 0;
    width: 100%;
}

.sub_categories {
}

.sub_categories ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.entry-header-hover {
    background: rgba(19, 19, 19, 0.7) none repeat scroll 0 0 !important;
    height: 100%;
}
