.weather .icon { float: left; }
.weather .info { float: left; }
.weather .info span { font-weight: bold; }
.weather .description {  font-size: 1.2em; font-weight: bold; font-style: italic; }
#navbar-collapse-meteo li { padding-left: 20px; }
.de #navbar-collapse-meteo li { padding-left: 0px; }
#navbar-collapse-meteo .weather { margin-top: 10px; width: 120px; }
#navbar-collapse-meteo .weather .info { font-size: 0.8em; width: 50%; }
#navbar-collapse-meteo .weather .icon { width: 50%; }
footer .weather .info { padding-left: 20px; }